{% extends "base.html" %}

{% block inc_script %}

{% endblock %}

{% block main_content %}

<b>Method: {{signal}}</b> -- <b>Table</b> is for <font style="color:red">{{ table }}</font>:  with  rows:
<div class="row">
    <div class="col-xs-6">
        <h4><b>Tables Available:</b></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <ul>
            <li><a href="{{url_for('dbset')}}d/{{cmd[0]}}">All Tables: {{cmd[0]}}</a></li>
            <li><a href="/reg">Reg</a></li>
            <li><a href="{{url_for('dbset')}}billing/{{cmd[0]}}">Bill: {{cmd[0]}}</a></li>
            <li><a href="{{url_for('dbset')}}billing/{{cmd[1]}}">Bill: {{cmd[1]}}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <!-- Was there an error found? -->
    {% if type == "dict" %}
        {% for k,v in tR.items() %}
            {% if v == False %}
                {{k}}
            {% endif %}
    {% endfor %}
    {% endif %}
    <!-- Were there results found? -->
    {% if type == "list"%}
        {% for g in tR %}
            <div class="row">
                {%for j in g %}
                <div class="col-xs-2">
                    {{j}}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% if form %}
    {% include 'register.html' %}
{% else %}
    <p>{{flash}}</p>
{% endif %}

{% endblock %}