    {{msg}}
<div class="row">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="color: red">
            {% for message in form.field1.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.field2.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    </div>

    <form method=POST action="{{ url_for('dbset')}}{{table}}/{{type}}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-xs-2">
                {{ form.field1.label}}
                {{ form.field1 }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.field2.label }}
                {{ form.field2(placeholder="?" ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.field3.label }}
                {{ form.field3 (placeholder="What's your current address?") }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                {{ form.field4.label }}
                {{ form.field4(placeholder="What city do you live in currently?") }}
            </div>
        </div>
        {{ form.submit }}
        <input type=submit id="submit" value="Post">
    </form>
</div>
